@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
  --form-width: 840px;
  --form-width-small: 640px;
}

* {
  outline-color: #ccc;
}

input[type='file'] {
  font-size: 15px;
  color: #555;
  cursor: pointer;
}

::-webkit-file-upload-button {
  font-size: 15px;
  color: #555;
  padding: 8px 10px;
  border: 0;
  border-right: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

body {
  letter-spacing: 0.2px;
  line-height: 20px;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 8px;
}

/* Handle on hover */
.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

table {
  font-size: 15px !important;
  color: rgb(24, 36, 51) !important;
}

table > thead > tr {
  background-color: rgb(246, 248, 251) !important;
  color: rgb(51, 59, 72) !important;
  border: 1px solid #e2e8f0 !important;
}

table th,
table td {
  white-space: nowrap;
}

/* Table ID */
table > tbody > tr > td:first-child {
  color: rgb(79, 90, 108) !important;
}

table > thead > tr > th:first-child,
table > tbody > tr > td:first-child {
  padding-left: 1rem !important;
}

table > thead > tr > th:last-child,
table > tbody > tr > td:last-child {
  padding-right: 1rem !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='radio'] {
  accent-color: rgb(109 40 217);
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.custom-select-arrow::before,
.custom-select-arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-select-arrow::before {
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid #666;
  top: 42%;
}

.custom-select-arrow::after {
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid #666;
  top: 64%;
}
