@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline-color: #8d66cc;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

table {
  font-size: 15px !important;
  color: rgb(24, 36, 51) !important;
}

table > thead > tr {
  background-color: rgb(246, 248, 251) !important;
  color: rgb(108, 122, 145) !important;
}

table > tbody > tr > td:first-child {
  color: rgb(108, 122, 145) !important;
}

table > tbody > tr > td {
  font-size: 15px !important;
}

table > thead > tr > th:first-child,
table > tbody > tr > td:first-child {
  padding-left: 1rem !important;
}

table > thead > tr > th:last-child,
table > tbody > tr > td:last-child {
  padding-right: 1rem !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='radio'] {
  accent-color: rgb(109 40 217);
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
