@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
}

* {
  outline-color: #8d66cc;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 8px;
}

/* Handle on hover */
.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

table {
  font-size: 15px !important;
  color: rgb(24, 36, 51) !important;
}

table > thead > tr {
  background-color: rgb(246, 248, 251) !important;
  color: rgb(51, 59, 72) !important;
  border: 1px solid #e2e8f0 !important;
}

table th,
table td {
  white-space: nowrap;
}

/* Table ID */
table > tbody > tr > td:first-child {
  color: rgb(79, 90, 108) !important;
}

table > thead > tr > th:first-child,
table > tbody > tr > td:first-child {
  padding-left: 1rem !important;
}

table > thead > tr > th:last-child,
table > tbody > tr > td:last-child {
  padding-right: 1rem !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='radio'] {
  accent-color: rgb(109 40 217);
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
